<main class="cd-main container">
  <ul class="cd-gallery">
    <li  ng-repeat="company in vm.companies" class="cd-item">
      <a>
        <div>
        <h2>{{company.name}}</h2>
        <p>{{company.city}}</p>
        <b ng-click="vm.openItemInfo(company)">View More</b>
        </div>
      </a>
    </li>
  </ul>
</main>
<div class="cd-folding-panel">
<div class="fold-left"></div>
<div class="fold-right"></div>
<div class="cd-fold-content">
  <div class="cd-fold-content single-page">
    <h2>{{vm.choosenCompany.name}}</h2>
    <em>{{vm.choosenCompany.address}} {{vm.choosenCompany.city}}</em>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!
    </p>
  </div>
</div>
<a class="cd-close" href="#0"></a>
</div>
