<div class="cd-fold-content single-page">
  <header class="fadeInDown animated">
    <h2 ng-hide="vm.editing">{{vm.company.name}} </h2>

    <div class="group name-input" ng-show="vm.editing">
      <input type="text"  name="name" ng-model="vm.company.name" value="{{vm.company.name}}" fend-focus="focusNameInput" required>
      <span class="highlight"></span>
      <span  ng-class="{'invalid': companyForm.name.$error.required && companyForm.address.$touched }" class="bar"></span>
      <div  ng-messages="companyForm.name.$touched && companyForm.name.$error">
        <div  class="error" ng-message="required">You did not enter name</div>
      </div>
    </div>

    <a ng-class="vm.editing ? 'fadeOut' : 'zoomInDown'" class="animated btn" ng-click="vm.edit()">
      <img src="./shared/img/pencil.svg">
    </a>
  </header>


    <div class="container-fluid animated bounceInUp">
    <form name="companyForm">
      <div class="row">
        <div class="col-md-4 text-right"><em>Adress</em></div>
        <div class="col-md-8" ng-hide="vm.editing"><p>{{vm.company.address}}</p></div>
        <div class="col-md-4" ng-show="vm.editing">
          <input type="text" name="address" required id="address" ng-model="vm.company.address" value="{{vm.company.address}}">
          <span class="highlight"></span>
          <span  ng-class="{'invalid': companyForm.address.$error.required && companyForm.address.$touched }" class="bar"></span>
          <div  ng-messages="companyForm.address.$touched && companyForm.address.$error">
            <div  class="error" ng-message="required">You did not enter address</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right"><em>City</em></div>
        <div class="col-md-8" ng-hide="vm.editing"><p>{{vm.company.city}}</p></div>
        <div class="col-md-4" ng-show="vm.editing">
          <input type="text" required name="city" id="city" ng-model="vm.company.city" value="{{vm.company.city}}">
          <span class="highlight"></span>
          <span ng-class="{'invalid': companyForm.city.$error.required && companyForm.city.$touched }" class="bar"></span>
          <div ng-messages="companyForm.city.$touched &&  companyForm.city.$error">
            <div class="error" ng-message="required">You did not enter city</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right"><em>Country</em></div>
        <div class="col-md-8" ng-hide="vm.editing"><p>{{vm.company.country}}</p></div>
        <div class="col-md-4" ng-show="vm.editing">
          <input type="text" required name="country" id="country" ng-model="vm.company.country" value="{{vm.company.country}}">
          <span class="highlight"></span>
          <span ng-class="{'invalid': companyForm.country.$error.required && companyForm.country.$touched }" class="bar"> </span>
          <div ng-messages="companyForm.country.$touched && companyForm.country.$error">
            <div class="error" ng-message="required">You did not enter country</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right"><em>Email</em></div>
        <div class="col-md-8" ng-hide="vm.editing"><p>{{vm.company.email}}</p></div>
        <div class="col-md-4" ng-show="vm.editing">
          <input type="email" id="email" name="email" ng-model="vm.company.email" value="{{vm.company.email}}">
          <span class="highlight"></span>
          <span ng-class="{'invalid': companyForm.email.$error.required  && companyForm.email.$touched }" class="bar"></span>
          <div ng-messages="companyForm.email.$touched && companyForm.email.$error">
            <div ng-class="{'invalid': companyForm.email.$error.required }" class="error" ng-message="email">Must be valid email</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right"><em>Phone</em></div>
        <div class="col-md-8" ng-hide="vm.editing"><p>{{vm.company.phone}}</p></div>
        <div class="col-md-4" ng-show="vm.editing">
          <input type="tel" id="phone" name="phone" ng-model="vm.company.phone" value="{{vm.company.phone}}">
          <span class="highlight"></span>
          <span class="bar"></span>

        </div>
      </div>
      <footer>

        <a ng-class="vm.editing ? 'fadeInDownBig' : 'fadeOutDownBig'" class="animated btn green" ng-click="vm.update()" ng-disabled="companyForm.$invalid">
          <img ng-if="vm.editing" src="./shared/img/sync.svg">
        </a>
      </footer>
    </form>





  </div>

</div>
<a class="cd-close" ng-click='vm.toggleContent(flase)'>XXX</a>
